/** Larger screen overrides **/

@media (min-width: $breakpointLarge) {

  body {
    background-size: cover;
    background-position: center 5%;
    font-size: 20px;
  }

  .branding {
    width: 220px;
  }

  .content {
    top: 30%;
  }

  .signup-cover-inner {
    margin-top: 5%;
  }

  .social-container {
    font-size: 48px;
  }

}

@media (min-width: $breakpointExtraLarge){
  body {
    background-position: center 15%;
    font-size: 24px;
  }
  .content {
    h2 {
      font-size: 32px;
    }
  }
  .social-container {
    font-size: 62px;
  }
}
